html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
h1 {
	font-size: 1.5em;
	margin-bottom: 10px;
}
p {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 10px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input,
select {
	vertical-align: middle;
}

/* main stuff */
#desktop {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("https://files.catbox.moe/lhqoe9.png");
	background-size: cover;
	font-family: "Ubuntu-Mono", monospace;
	font-size: 12px;
	color: #330D0C;
	box-sizing: border-box;
}

/* window behavior and styling */
.window {
	position: relative;
	border-top: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background: #eee;
	z-index: 1000;
	overflow-y: hidden;
	overflow-x: hidden;
}

.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
	top: 0; 
	right: 0; 
	left: 0; 
	border-radius: 0;
	bottom: 55px 
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}

/* window headers */
.windowHeader {
    background: linear-gradient(to left, rgb(231, 196, 191), #facbb5);
	text-align: right;
    font-size: 8px;
	border-bottom: 2px solid #c4c4c4;
	padding: 2px;
    padding-bottom: 2px;
	cursor: move;
	height: 20px;
}
.activeWindow .windowHeader {
    background: linear-gradient(to left, rgb(150, 166, 240), rgb(183, 182, 252));
}
.windowHeader > span {
	cursor: pointer;
    border-top: 1px solid #4d4c4c;
	border-left: 1px solid #4d4c4c;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	margin-top: 2px;
	margin-left: 4px;
	position: relative;
	overflow: hidden;
    font-size: 8px; 
    padding: 2px; 
    font-family: Ubuntu Mono;
    color: #4d4c4c;
    line-height: 8px; 
    width: 6px; 
    height: 8px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.windowHeader > span:hover {
	background: #c4c4c4;
}

.windowHeader > span > span {
	display: inline-block;
	position: absolute;
	padding: 5px;
}
.winminimize > span {
	border-bottom: 3px solid #c4c4c4;
}
.winmaximize > span {
	border: 2px solid #c4c4c4;
	border-top: 3px solid #c4c4c4;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
	display: inline-block;
	top: 3px;
	left: 12px;
}

.windowHeader > .windowButtons {
    display: flex; 
    justify-content: flex-end; 
}

.windowHeader > .winminimize,
.windowHeader > .winmaximize,
.windowHeader > .winclose {
    background-color: transparent;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    height: 8px; 
    width: 8px; 
}

.windowHeader > .winclose:hover {
    background: #db3434;
  }

  .windowHeader > .winminimize:hover,
.windowHeader > .winmaximize:hover {
    background: #c4c4c4 50%;
}

.wincontent {
    padding: 5px;
    background-color: #e8e6f2;
	border-top: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
    margin: 2px;
}
.windowHeader > strong {
	float: left;
	margin: 0px 3px 0 10px;
	line-height: 20px;
	font-size: 15px;
    flex-grow: 1;
}

.side-image {
	width: 80px;
	max-width: 80px;
	height: auto;
	padding: 5px;
}

/* songbox */
#window5 {
	width: auto;
	height: auto;
	position: absolute;
	top: 10;
	right: 10;
}

#songBox {
	font-family: Ubuntu-Mono, monospace;
	padding: 1px;
	margin: 1px;
	align-content: center;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1000;
}

#trackName,
#artistName,
#albumName {
	margin: 0;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	align-content: center;
}

#trackName,
#artistName,
#albumName {
	animation: none;
}

#trackName.long-text,
#artistName.long-text,
#albumName.long-text {
	animation: marquee 10s linear infinite;
}

#trackInfo {
	margin-top: 5px;
}

#trackName {
	font-size: 12px;
	font-weight: bold;
	color: #ed3a24;
}

#artistName {
	font-size: 12px;
	color: #95b2fe;
}

#albumName {
	font-size: 10px;
	color: #4d4c4c;
	text-overflow: ellipsis;
}

#listening img {
	max-width: 100%;
	height: 100px;
	align-content: center;
	border-top: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

#listening {
	position: relative;
	align-content: center;
}

.long-text {
	white-space: nowrap;
	animation: marquee 10s linear infinite;
}

/* statuscafe */
#window0 {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 10;
	right: 300;
}

#statuscafe {
	background-color: transparent;
	border: 1px solid #95b2fe;
	border-radius: 5px;
	z-index: 1000;
	font-family: Ubuntu-Mono, monospace;
}

#statuscafe-username {
	margin-bottom: 0.5em;
}

#statuscafe-content {
	margin: 0 1em 0.5em 1em;
}

#songBox,
#statuscafe {
	display: inline-block;
	vertical-align: top;
}

/* taskbar related */
	.taskbarPanel {
        display: inline-flex;
        align-items: center; /* Vertically center the taskbar items */
        justify-content: center;
        font-family: Ubuntu-Mono;
        font-weight: bold;
        cursor: pointer;
        width: 7rem; /* Width of the taskbar panel */
        height: 30px; /* Set a consistent height for the panels */
        background: #f1c9de;
        margin: 0 10px; /* Add some spacing between taskbar items */
        line-height: normal; /* Ensure text is vertically centered */
	box-shadow:
		-1px -1px #e0dede,
		-1px 0 #e0dede,
		0 -1px #e0dede,
		-2px -2px white,
		-2px 0 white,
		0 -2px white,
		1px 1px #818181,
		0 1px #818181,
		1px 0 #818181,
		1px -1px #e0dede,
		-1px 1px #818181,
		-2px 1px white,
		-2px 2px #686868,
		2px 2px #686868,
		2px 0 #686868,
		0 2px #686868,
		1px -2px white,
		2px -2px #686868;
}

.taskbarPanel.activeTab {
	box-shadow:
    -1px -1px #e0dede,
    -1px 0 #e0dede,
    0 -1px #e0dede,
    -2px -2px white,
    -2px 0 white,
    0 -2px white,
    1px 1px #818181,
    0 1px #818181,
    1px 0 #818181,
    1px -1px #e0dede,
    -1px 1px #818181,
    -2px 1px white,
    -2px 2px #686868,
    2px 2px #686868,
    2px 0 #686868,
    0 2px #686868,
    1px -2px white,
    2px -2px #686868;
}
.taskbarPanel.minimizedTab {
	background: #ff8c53;
}
.taskbarPanel.minimizedTab:hover {
	background: #ed3a24;
}
.taskbarPanel.closed {
	display: none;
}

/* taskbar related */
#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px; /* The height of the taskbar */
    background: #e8e6f2;
    border: outset 1px;
    border-color: #818181;
    padding: 0 10px; /* Add padding to give some spacing on the sides */
    display: flex;
    align-items: center; /* Vertically center taskbar items */
    justify-content: space-between; /* Space out icons and other elements */
    z-index: 9999;
    flex-wrap: wrap;
}

#WindowsIcons {
    display: flex;
    align-items: center; /* Vertically center the icons */
    gap: 10px;
    overflow-x: auto;
    padding: 0 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
}

/* Adjust individual icon styling to make sure they align properly */
#WindowsIcons .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #686868;
    position: relative;
}

#WindowsIcons .icon a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#WindowsIcons .icon a img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#WindowsIcons .icon a span {
    font-size: 10px;
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

#WindowsIcons .icon a:hover span {
    visibility: visible;
    opacity: 1;
}

/* Hover effects */
#WindowsIcons a:hover {
    color: rgb(71, 61, 66);
    filter: drop-shadow(0 1px #F3A97A) drop-shadow(1px 0 #F3A97A)
        drop-shadow(0 -1px #F3A97A) drop-shadow(-1px 0 #F3A97A)
        drop-shadow(0 1px white) drop-shadow(1px 0 white)
        drop-shadow(0 -1px white) drop-shadow(-1px 0 white)
        drop-shadow(0 2px #F3A97A) drop-shadow(2px 0 #F3A97A)
        drop-shadow(0 -2px #F3A97A) drop-shadow(-2px 0 #F3A97A)
        drop-shadow(1px 1px 0 #7a696c) drop-shadow(-1px 1px 0 #7a696c);
}

.lines {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 300;
	opacity: 0.03;
}

.lines:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	background: linear-gradient(
		to bottom,
		transparent 50%,
		rgba(0, 0, 0, 0.5) 51%
	);
	background-size: 100% 4px;
	will-change: background-size;
	animation: scanlines 0.2s linear infinite;
}

@keyframes scanlines {
	from {
		background: linear-gradient(
			to bottom,
			transparent 10%,
			rgba(0, 0, 0, 0.5) 51%
		);
		background-size: 100% 4px;
	}
	to {
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5) 50%,
			transparent 51%
		);
		background-size: 100% 4px;
	}
}

#menu-item:hover > .submenu {
	visibility: visible;
	opacity: 1;
}

.menu-item:hover > .submenu {
	visibility: visible;
	opacity: 1;
}

.window.fullSizeWindow {
	bottom: 45px !important;
}


h1 {
	font-size: 2rem;
	font-family: Ubuntu-Mono;
	color: #809ae2;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
