@import url(https://fonts.bunny.net/css?family=ubuntu-mono:400|workbench:400);

body {
    background-color: #1c1a19;
    image-rendering: pixelated;
    background-image: url(https://files.catbox.moe/3ot2fi.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    cursor: url(https://files.catbox.moe/95onps.png), default;
    padding: 15px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12px;

    /* animation: fadeIn 5s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s; */
}
    
  center {
    text-align: center;
    }
    
  a {
    color: #ffffff;
    }
  .sidebar-group {
    position: fixed;
    top: 0;
    margin-top: 25px;
    }

  .sidebar, .mini-sidebar, .wide-sidebar, .box {
    background: #f7ddd5;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 2px 2px #000000;
    }

  .sidebar img, .mini-sidebar img, .wide-sidebar img, .box img {
    max-width: 100%;
    height:auto; 
    position: center;
    }
    
  .sidebar, .sidebar-box {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    }
    
  .sidebar-box {
    margin-left: 10px;
    }
    
  .sidebar {
    width: 160px;
    margin-left: 25px;
    }
    
  .mini-sidebar {
    margin-bottom: 25px;
    }
    
  .wide-sidebar {
    margin-left: 25px;
    margin-top: 25px;
    width: 340px;
    min-height: 150px;
    }
    
  .inner {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    }

  .title-bar, .box-title-bar {
    background: #ed3a24;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
    

  .box-title-bar {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    
  .right {
    float: right;
    margin-right: 5px;
    font-family: "Ubuntu" monospace;
    line-height: 12px;
    }
    
/* 
  .icon {
    border: #80aa6f solid 2px;
    border-radius: 50%;
    }
     */


  .box {
    margin-top: 25px;
    margin-left: 400px;
    width: 455px;
    margin-bottom: 25px;
    }

  .big-quote {
    font-size: 32px;
    color: #000000;
    letter-spacing: 6px;
    word-spacing: 2px;
    font-family: 'Workbench', monospace;
    position: fixed;
    margin-left: 1050px;
    margin-top: 300px;
    top: 0;
    width: 300px;
    }
    
  wide {
    letter-spacing: 16px;
    }
    
  midwide {
    letter-spacing: 3px;
    }