@import url(https://fonts.bunny.net/css?family=ubuntu-mono:400|workbench:400);

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-image: url("https://files.catbox.moe/3ot2fi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu Mono", monospace;
  font-size: 12px;
  text-shadow: 0px 0px 1px #bbb;
  color: #c96855;
  letter-spacing: 1px;
  line-height: 11px;
}

#sitename {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

#sitename img {
  width: 25px; 
  height: auto;
  margin-right: 10px; 
}

#sitename a {
  font: 30px "Workbench", monospace;
  color: black;
  text-decoration: none; 
}
#layout {
  margin: auto;
  width: 100%;
  max-width: 720px;  
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-rows: auto;
   column-gap: 5px;  
  justify-content: center;
}


#header1, #navigation1, #footer1 {
  grid-column: span 3; 
  margin: 0;
  padding: 10px;
}

#header2 {
  height: 40px;
  background: transparent;
  margin: 0;
  padding: 10px;
}

#navigation2 {
  height: 20px;
  line-height: 20px;
  background: transparent;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

#navigation2 a {
  width: 80px;
  display: inline-block;
  background: #fcdad6;
  font: bold 9px "Ubuntu Mono", monospace;
  text-transform: uppercase;
  padding: 4px;
  letter-spacing: 3px;
  color: #d46666;
  border-radius: 5px;
}

#navigation2 a:hover {
  background: #fff;
  color: #ef7e6a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#content1, #left1, #right1 {
  margin: 0;
  display: block;
  box-sizing: border-box;
  width: auto;
}

#left1 {
  grid-column: 1; 
  width: 200px;
}

#content1 {
  grid-column: 2; 
  width: 350px;
}

#right1 {
  grid-column: 3; 
  width: 200px;
}

#content2 {
  margin: 0;
  padding: 6px;
}


#left2 {
  margin: 0;
  padding: 6px;
}

.side-image-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-image {
  width: 80%;
  max-width: 180px;
  height: auto;
  padding: 5px;
}

#footer2 {
  height: 100px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.box {
  background: #fff;
  border: 1px solid #ef7e6a;
  border-top: 0;
  box-shadow: 5px 6px #fcdad6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px;
  margin-bottom: 2px;
  position: relative;
}

.box-without-title {
  background: #fff;
  border: 1px solid #ef7e6a;
  box-shadow: 5px 6px #fcdad6;
  border-radius: 5px;
  margin-bottom: 2px;
  position: relative;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font: 10px monospace;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #95b2fe, transparent 95%);
  letter-spacing: 3px;
  text-align: left;
  padding: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.window-controls {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.control-btn {
  font-size: 8px;
  width: 8px;
  height: 8px;
  padding-left: 8px;
  margin-bottom: 0;
  color: white;
  fill: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease,
    filter 0.3s ease;
}

.control-btn i {
  font-size: 8px;
  color: white;
  transition: color 0.3s ease;
}

.control-btn:hover i {
  color: #ed3a24;
}

.control-btn i:hover {
  color: #ed3a24;
}

a:link,
a:visited,
a:active {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #ed3a24;
}

#statuscafe {
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid grey;
}

#statuscafe-username {
  margin-bottom: 0.5em;
}

#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

#songBox {
  width: auto;
  height: auto;
  padding: 1px;
  margin: 1px;
  align-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

#trackName,
#artistName,
#albumName {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  align-content: center;
}

#trackInfo {
  margin-top: 5px;
  text-overflow: ellipsis;
}

#trackName {
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
}

#artistName {
  font-size: 12px;
  color: #555;
  text-overflow: ellipsis;
}

#albumName {
  font-size: 10px;
  color: #888;
  text-overflow: ellipsis;
}

#listening img {
  max-width: 100%;
  height: 100px;
  align-content: center;
}

#listening {
  position: relative;
  align-content: center;
}

.side-image-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-image {
  width: 80%;
  max-width: 180px;
  height: auto;
  padding: 5px;
}

#menu a {
  display: inline-block;
  background: #f07671;
  margin-bottom: 4px;
  padding: 1px;
  padding-top: 2px;
  width: 150px;
  line-height: 12px;
  font: italic 12px "Ubuntu Mono", monospace;
  text-transform: lowercase;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

#menu a:hover {
  display: inline-block;
  background: #fcdad6;
  margin-bottom: 4px;
  padding: 1px;
  padding-top: 2px;
  width: 150px;
  line-height: 12px;
  font: italic 12px "ubuntu-mono", monospace;
  text-transform: lowercase;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 5px;
  color: #ed3a24;
}

b {
  color: #ed3a24;
  font-weight: bold;
}

i {
  font-style: italic;
  color: #aaa;
}

u {
  color: #daac5c;
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ed3a24;
  border-radius: 0;
  border: 0px solid #ccc;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: transparent;
}

textarea {
  font: 10px "ubuntu-mono";
  letter-spacing: 1px;
}

